body
{
    color:black; 
}
html{ background-image:url("../imgs/Yin_and_Yang.svg"); background-color: AliceBlue; background-repeat: no-repeat; 
    background-position: 50% 50%; background-size: contain; height: 100%; 
}

a:link{ color:blue; }

a:visited{ color:purple;}


a:hover { color: orange; }
table,tr,td,th
{
   text-align: center;
   border: 4px solid black;
   border-collapse: collapse;
}
